body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
}

button {
    background-color: #F9A830;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px; /* Botões arredondados */
}

button:hover {
    background-color: #E18E28; /* Alterado para uma cor diferente no hover */
}

#listaImagens {
    margin-top: 20px;
}
