body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a.active {
    color: #F9A830;
}

.search input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

main {
    padding: 20px;

}

.pets-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.add-pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F9A830;
    background-color: #faeedf;
    padding: 20px;
    border-radius: 5px;
}

.add-icon svg {
    width: 50px;
    height: 50px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px;
    width: 90%;
    overflow: hidden;
}

.mypets-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.memories-carousel {
    display: flex;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #F9A830;
    background-color: #faeedf;
    /* overflow: hidden;  */
    display: flex;
    justify-content: center;
    margin: 20px auto;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.memoriesCarousel {
    display: flex;
    gap: 50px; 
    justify-content: center;
    align-items: flex-start;
}

.carousel-item-pet {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* width: calc(100% / 3 - 20px); */
    margin: 0px 15px;
    border: 2px solid #F9A830;
    background-color: #faeedf;
    border-radius: 5px;
    padding: 15px 15px 0px 15px;
}

.carousel-item a {
    text-decoration: none;
    color: inherit;
    color: #000;
    font-weight: bold;
}

.image-frame {
    width: 174px; 
    height: 174px; 
    background-color: #ffd595;
    border-radius: 3px; 
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.carousel-item img {
    /* position: absolute; */
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 3px;
    overflow: hidden;
    
}

.carousel-item h5 {
    text-align: center;
}

.carousel-item p {
    text-align: center;
}

.carousel-btn {
    border: none;
    font-size: 24px;
    cursor: pointer;
    background-color: #ccc;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #F9A830;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
    box-sizing: border-box;
}

.modal h2 {
    font-size: 24px;
    margin: 0 0 10px;
    padding-bottom: 5px;
    text-align: left;
    position: relative;
    display: inline-block;
}

.modal p {
    text-align: center;
    margin-top: 5px;
}

.modal .btn-primary {
    position: absolute;
    bottom: 15px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #F9A830;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal .btn-primary:hover {
    background-color: #e69529;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
}

.modal .input-container label {
    margin-bottom: 10px;
}

.modal .input-container input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.modal-content-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 0;
}

.modal-content-pet-option{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 0;
  flex-direction: column;
}

.modal-content-pet-option > div {
    display: flex;
}

.modal .pet-option,
.modal .sex-option {
    justify-items: center; 
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 100px; 
}

.modal .pet-option img,
.modal .sex-option img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px; 
    border-radius: 5px;
    place-items: center;
}

.modal .pet-option p,
.modal .sex-option p {
    margin: 0;
    font-size: 14px;
    color: #333;
    text-align: center;
}

#petSummaryModal .modal-content {
    width: 80%;
    max-width: 600px;
    min-height: 300px;
    box-sizing: border-box;
}

#summaryImage {
    width: 110px;
    height: 110px;
    object-fit: cover; 
    border-radius: 3px;
    overflow: hidden;
    align-items: center;
    align-content: center;
}

.summary section {
    flex: 1;
    min-width: 200px; /* Ajuste conforme necessário para o layout desejado */
}

.summaryLeft {
    margin-left: 10px;
}

.summaryRight {
    align-items: center;
    align-content: center;
}

.summary {
    display: flex;
    flex-wrap: nowrap; 
    gap: 20px; /* Espaço entre as sections */
}

.modal .summary p {
    margin: 5px 0;
    text-align: left;
}

.modal-content {
    width: 80%;
    max-width: 600px;
    min-height: 300px; 
    box-sizing: border-box;
}

.modal .option-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.option-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 10px; 
}

#petNameModal label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.name-input {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

.date-input {
    width: calc(100% - 40px); 
    max-width: 200px; 
    margin: 0 auto; 
    display: block;
}

.delete-btn {
    position: absolute;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #F9A830;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: none; /* Inicia oculto por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Cor de fundo semi-transparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza verticalmente e alinha ao centro */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Define a largura do modal */
}

.modal-content p {
    margin-top: 15%;
    margin-bottom: 20px;
}

/* Estilos para os botões no modal */
.modal-content > div {
    text-align: center; /* Centraliza os botões */
}


/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px 20px;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .pets-section {
        flex-direction: column;
        align-items: center;
    }

    .carousel {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .mypets-carousel {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .memories-carousel {
        width: 100%;
        margin: 20px 0;
        padding: 10px;
    }

    .memoriesCarousel {
        flex-direction: column;
        width: 100%;
        padding: 10px;
        gap: 20px;
    }

    .carousel-item {
        flex: 1 1 45%; /* Permitir que os itens ocupem até 45% da largura em telas menores */
        max-width: calc(100% - 20px);
    }

}

@media (max-width: 600px) {
    .modal-content {
        width: 90%; /* Aumentar a largura da modal em telas menores */
    }

    .summary-image {
        width: 100%;
        height: auto; /* Garantir que a imagem se ajuste corretamente */
    }

    .memories-carousel {
        padding: 10px;
    }

    .memoriesCarousel {
        gap: 5px; /* Ajuste o gap para telas menores */
    }

    .carousel-item {
        flex: 1 1 100%; /* Permitir que os itens ocupem 100% da largura em telas muito pequenas */
        min-width: 100px; /* Ajuste conforme necessário para um tamanho mínimo menor */
        max-width: calc(100% - 10px);
        
    }

    .image-frame {
        padding-top: 75%; /* Ajustar a proporção conforme necessário */
    }
}