body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a.active {
    color: #F9A830;
}

.search input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

main {
    padding: 20px;

}

.pets-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.add-pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F9A830;
    background-color: #faeedf;
    padding: 20px;
    border-radius: 5px;
}

.add-icon svg {
    width: 50px;
    height: 50px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px;
    width: 90%;
    overflow: hidden;
}

.mypets-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.memories-carousel {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #F9A830;
    background-color: #faeedf;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.memoriesCarousel {
    display: flex;
    gap: 60px; 
    justify-content: center;
    align-items: flex-start;
}

.carousel-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0px 15px;
    border: 2px solid #F9A830;
    background-color: #faeedf;
    border-radius: 5px;
    padding: 5px 10px 0px 10px;
}

.carousel-item a {
    text-decoration: none;
    color: inherit;
    color: #000;
    font-weight: bold;
}

.image-frame {
    width: 174px; 
    height: 174px; 
    background-color: #ffd595;
    border-radius: 3px; 
    justify-content: center;
    align-items: center;
    display: flex;
}

.carousel-item img {
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 3px;
    overflow: hidden;
}

.carousel-item p {
    text-align: center;
}


.carousel-btn {
    border: none;
    font-size: 24px;
    cursor: pointer;
    background-color: #ccc;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #F9A830;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
    box-sizing: border-box;
}

.modal h2 {
    font-size: 24px;
    margin: 0 0 10px;
    padding-bottom: 5px;
    text-align: left;
    position: relative;
    display: inline-block;
}

.modal p {
    text-align: center;
    margin-top: 5px;
}

.modal .btn-primary {
    position: absolute;
    bottom: 15px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #F9A830;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal .btn-primary:hover {
    background-color: #e69529;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
}

.modal .input-container label {
    margin-bottom: 10px;
}

.modal .input-container input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.modal-content-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 0;
}

.modal-content-pet-option{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 0;
  flex-direction: column;
}

.modal-content-pet-option > div {
    display: flex;
}

.modal .pet-option,
.modal .sex-option {
    justify-items: center; 
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 100px; 
}

.modal .pet-option img,
.modal .sex-option img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px; 
    border-radius: 5px;
    place-items: center;
}

.modal .pet-option p,
.modal .sex-option p {
    margin: 0;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.modal .summary {
    text-align: left;
}

.modal .summary p {
    margin: 5px 0;
}

.modal-content {
    width: 80%;
    max-width: 600px;
    min-height: 300px; 
    box-sizing: border-box;
}

.modal .option-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.option-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 10px; 
}

#petNameModal label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.name-input {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

.date-input {
    width: calc(100% - 40px); 
    max-width: 200px; 
    margin: 0 auto; 
    display: block;
}

.delete-btn {
    position: absolute;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #F9A830;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
